@import "../theme/theme.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
::selection {
  color: $bgBlue;
  background: $green;
}

.leaderboard {
  width: 100%;
  min-height: 100vh;
  font-family: "Mulish", sans-serif;
  background-color: $bgBlue;

  .leaderboard__overlay {
    width: 100%;
    min-height: 100vh;
    background-color: rgba($color: $bgBlue, $alpha: 0.5);
    @include flexbox;
    align-items: flex-start;
    .leaderboard__container {
      width: 90%;
      max-width: 1200px;
      min-height: 500px;
      background-color: lightgreen;

      .leaderboard__heading {
        width: 100%;
        height: 100px;
          background-color: lightcoral;
        @include flexbox;
        p {
          font-size: $font-extra-large;
          font-weight: bold;
          color: $green;
          text-transform: uppercase;
          text-align: center;
        }
      }
    }
  }
}
