// ------ Theme ------

//? Colors
$green: #65f0de;
$blue: #0dc8fe;
$darkBlue: #010f2b;
$bgBlue: #020a1f;
$white: #ffffff;
$black: #000000;

//? Border

// $border-light: 1px solid $light-grey;

//? Font Sizes

$font-light: 10px;
$font-extra-small: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 18px;
$font-extra-large: 20px;

//? Mixins

@mixin flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin buttonGreenDark {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 25px;
  color: $bgBlue;
  background-color: $green;

  font-size: $font-medium;
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: darken($green, 20%);
  }
}
@mixin buttonBlueDark {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 25px;
  color: $bgBlue;
  background-color: $blue;

  font-size: $font-medium;
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: darken($blue, 10%);
  }
}
